.rates {
    width: 100%;
    word-wrap: break-word;
    padding:10px;
    background-color:  rgba(44, 104, 160, 0.644);
}
.currentRate {
    width: 50%;
    margin: 0 auto;
    background-color: rgba(247, 196, 196, 0.808);
    font-weight: bold;
    font-size: 22px;
    padding: 20px 0px;
    text-align: center;
}
.currencieRateDate {
    text-align: center;
    padding: 10px;
}