/* first row - country name and flag */
.country_name_flag {
    display: flex;
    justify-content: space-between;
    background-color: rgba(0,0,0,0.7);
}

.country_name {
    font-size: 32px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 3px;
    color: white;
    padding: 10px;
    padding-left: 30px;
}
.flag_image {
    padding: 5px;
}

.region_name {
    font-size: 14px;
    text-transform: capitalize;
    background-color: black;
    padding: 5px;
    border-radius: 4px;
}

/* second line*/
.main_details {
    display: flex;
    justify-content: space-evenly;
    background-color: rgba(166, 173, 166, 0.158);
    margin-bottom: 10px;
}

.data_title {
    margin: 10px;
    background-color: rgba(36, 39, 36, 0.432);
    text-align: center;
    padding: 5px 75px;
    color: white;
    font-weight: bold;
    letter-spacing: 4px;
}

.data_render {
    padding: 10px;
    text-align: center;
    color: black;
}

.lang {
    margin: 5px;
}

@keyframes borderA {
    0% {
        color: black;
    }
    100% {
        color: white;
    }
}

/* third line - buttons to show border countries */
.btn_borders {
    margin-top: 10px;
    width: 100%;
    text-align: center;
    border: none;
    color: white;
    font-size: 25px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    outline: none;
    background-color: rgba(32, 106, 167, 0.911);
    transition: 0.5s;
    animation: borderA 3s infinite;
    
}

.btn_borders:hover {
    background-color: rgba(28, 79, 126, 0.849);
    
}

.borders_container {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    padding: 15px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: rgba(247, 196, 196, 0.808);
}

.border_countries {
    font-size: 14px;
    padding: 10px;
    margin: 8px;
    display: flex;
    flex-wrap: wrap;
}
.border_country {
    margin: 10px;
}

.currencie_rates_title {
    font-size: 18px;
    font-style: italic;
    margin-left: 10px;
}
.currencie_rates_title span {
    float: right;
    margin-right: 15px;
}

.noBorders {
    color: white;
    letter-spacing: 4px;
    background-color: rgba(0, 0, 0, 0.589);
    padding: 10px;
    text-align: center;
}

/* languages */ 
.languages, .subregion, .population {
    margin-top: 20px;
    background-color:  rgba(44, 104, 160, 0.644);
    padding: 5px;
}

.languages h6, .subregion h6, .population h6 {
    text-transform: uppercase;
    color: white;
    font-weight: bold;
    letter-spacing: 3px;
}
.languages div, .subregion div, .population div {
    background-color: white;
    padding: 10px;
}
.languages li, .subregion li, .population li {
    list-style-type: none;
}
.languages span {
    font-style: italic;
    letter-spacing: 2px;
}

/* region block */
.regionBlock {
    margin-top: 20px;
    background-color:  rgba(44, 104, 160, 0.644);
    padding: 5px;
}

.regionBlock h6 {
    text-transform: uppercase;
    color: white;
    font-weight: bold;
    letter-spacing: 3px;
}

.regionBlock div {
    background-color: white;
    padding: 5px;
}

.regionBlock li {
    list-style-type: none;
}
.regionBlock_not {
    text-align: center;
}