<div class="container">
    <div *ngFor="let data of countryData">

        <!-- header row -->
        <div class="row">
            <div class="col-12">
                <div class="country_name_flag">
                    <div class="country_name">
                        {{data.name}} <span class="region_name">{{data.region}}</span>
                    </div>
                    <div class="flag_image">
                        <img src="{{data.flag}}" width="100px">
                    </div>
                </div>
            </div>
        </div>

        <!-- main details row -->
        <div class="row">
            <div class="col-12">
                <div class="main_details">
                    <div>
                        <div class="data_title">
                            Region
                        </div>
                        <div class="data_render">
                            {{data.region}}
                        </div>
                    </div>

                    <div>
                        <div class="data_title">
                            Capital
                        </div>
                        <div class="data_render">
                            {{data.capital}}
                        </div>
                    </div>

                    <div>
                        <div class="data_title">
                            Currencie
                        </div>
                        <div *ngFor="let currencie of data.currencies" class="data_render">
                            <span>{{currencie.name}} ({{currencie.code}}/{{currencie.symbol}})</span>
                        </div>
                    </div>
                    <div>
                        <div class="data_title">
                            Language
                        </div>
                        <div class="data_render">
                            <span class="lang" *ngFor="let lang of data.languages">{{lang.name}}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- to show border countries and currency row-->
        <div class="row">
            <div class="col-6">


                <div class="languages">
                    <h6>Used languages</h6>
                    <div *ngFor="let data of countryData">
                        <ul *ngFor="let lang of data.languages">
                            <li>
                                {{lang.name}} ( <span> native name</span>: {{lang.nativeName}})
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="regionBlock">
                    <h6>Countrys regional block</h6>
                    <div *ngFor="let data of countryData">
                        <div *ngIf="data.regionalBlocs.length > 0; else regElse">
                            <ul *ngFor="let regBlock of data.regionalBlocs">
                                <li>
                                    {{regBlock.name}}
                                </li>
                            </ul>
                        </div>
                        <ng-template #regElse>
                            <div class="regionBlock_not">
                                There is no regional block for this country
                            </div>
                        </ng-template>
                    </div>
                </div>

                <div class="subregion">
                    <h6>Subregion</h6>
                    <div>
                        <ul *ngFor="let data of countryData">
                            <li>
                                {{data.subregion}}
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="population">
                    <h6>Population</h6>
                    <div>
                        <ul *ngFor="let data of countryData">
                            <li>
                                {{data.population}}
                            </li>
                        </ul>
                    </div>
                </div>

            </div>

            <div class="col-6">
                <div>
                    <div class="currencie_rates_title">Currencie rates<span
                            *ngFor="let currencie of data.currencies">{{currencie.code}} / For one USD</span>
                    </div>
                    <div>
                        <app-currency-rates [currencie]="currencieCode"></app-currency-rates>
                    </div>
                </div>


                <button (click)="showBorderCountries()" class="btn_borders">Show border countries</button>
                <div *ngIf="showBrorders" class="borders_container">

                    <div *ngIf="countryCodeWithFlag.length > 0; else elseBlock" class="border_countries">
                        <div class="border_country"
                            *ngFor="let borderCountry of countryCodeWithFlag">
                            <div>
                                <h3>{{borderCountry.code}}</h3>
                                <img src="{{borderCountry.flag}}" width="50px">
                            </div>
                        </div>
                    </div>
                    <ng-template #elseBlock>
                        <div class="noBorders">
                            There is no border countries for this country.
                        </div>
                    </ng-template>
                </div>
            </div>


        </div>
    </div>
</div>